<h1>Editing comment</h1>

<%= error_messages_for :comment %>

<% form_for(@comment) do |f| %>
  <p>
    <b>Text</b><br />
    <%= f.text_area :text %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Photo</b><br />
    <%= f.text_field :photo_id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', comments_path %>
